configuration {
    disable-history: false;
    display-drun: " Apps ";
    display-run: " Run ";
    display-window: " Windows ";
    drun-display-format: "{icon} {name}";
    hover-select: true;
    icon-theme: "Oranchelo";
    location: 0;
    me-accept-entry: "MousePrimary";
    me-select-entry: "!MousePrimary";
    modi: "";
    show-icons: true;
    terminal: "kitty";
    window-format: "{w}: {t}";
}

@theme "catppuccin-mocha"
